<% @posts.each do |post| %>
  <%= form_for(post, remote: true) do |f| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', '#', :class => 'edit_post' %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_post'  %></td>
    </tr>
    <tr class="edit_tr hidden">
      <td><%= f.text_field :title %></td>
      <td><%= f.submit :class => 'edit_submit'%></td>
      <td></td>
    </tr>
<!--     <div class="edit_form">
      <div class="field">
        <%#= f.label :title %><br>
        
      </div>
      <div class="actions">
        <%#= f.submit "Edit"%>
      </div>
    </div> -->
  <% end %>
<% end %>
