<% @posts.each do |post| %>
  <%= form_for(post, remote: true) do |f| %>
    <div class="row row-width", style="height: 35px">
      <div class="col-md-3 col-xs-12"><%= post.title %></div>
      <div class="col-md-3 col-xs-12"><%= button_to 'Show', post %></div>
      <div class="col-md-3 col-xs-12"><%= button_to 'Edit', '#'%></div>
      <div class="col-md-3 col-xs-12"><%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_post'  %></div>
    </div>
    <div class="edit_tr" style="">
      <div class="wide"><%= f.text_field :title %></div>
      <div class="narrow"><%= f.submit "Cancel", :action => :cancel %></div>
      <div><%= f.submit :class => 'edit_submit'%></div>
    </div>
<!--     <div class="edit_form">
      <div class="field">
        <%#= f.label :title %><br>
        
      </div>
      <div class="actions">
        <%#= f.submit "Edit"%>
      </div>
    </div> -->
  <% end %>
<% end %>
<script>$('#edit_tr').hide();</script>
